body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
}

h1 {
    font-size: 50px;
}

h2 {
    font-size: 40px;
}

.orange {
    color: orange;
}

.flexible {
    display: flex;
    margin-bottom: 150px;
}

.half-width {
    width: 50%;
    padding-left: 5%;
}

.half-width img {
    width: 80%;
    padding-top: 5%;
}

.link-button {
    text-decoration: none;
    background-image: linear-gradient(orange, tomato);
    padding: 10px 40px;
    font-weight: 700;
    border-radius: 5px;
    text-decoration-color: white;
}

.top-bann {
    background-image: url(images/photo_2023-01-06_22-01-27.jpg);
    background-repeat: no-repeat;
}

.dream-big {
    background-image: url(images/bg.jpg);
    background-repeat: no-repeat;
    background-position: right;
}

.experience {
    background-image: url(images/exp.jpg);
    background-repeat: no-repeat;
    background-position: left;
}

.dev-box {
    box-shadow: 10px 10px 40px gray;
    width: 50%;
    margin-left: 5%;
    margin-right: 5%;
    padding-left: 10px;
    border-radius: 5px;
    border-left: 7px solid blue;
}

#baby {
    border-left: 7px solid tomato;
}

#full {
    border-left: 7px solid blue;
}

footer p {
    text-align: center
}